# Environment variables
.venv

# Specific files/folders
analyze_poi/
data/
data_Internet/
data_poi/

/Map

pelita/
poi_gmaps/
poi_osm/


# Ignore only .csv and .xlsx files in /kelurahan_for_poi folder
kelurahan_for_poi/*.csv
kelurahan_for_poi/*.xlsx

test_path.csv
test.csv
